:root {
  --primary-color: #89b6b8;
  --primary-color-dark: #325252;
  --secondary-color: #c6a29f;
  --secondary-color-dark: #693f3f;
  --background-color: #f0f0f0;
  --background-color-dark: #1b1b1b;
  --text-color: #f0f0f0;
  --text-color-dark: #1b1b1b;
}
